<div id="account">
<h1>Create Account</h1>
<br>
<br>
<form class="create-form" action="/api/createAccount" method="Post">
    <label><h3>Email</h3></label>
    <input type="text" name="email" value={{email}}>
    <label><h3>Password</h3></label>
    <input type="text" name="password">
    <br>
    <br>
    <label><h3>Nickname</h3></label>
    <input type="text" name="nickname">
    <button class="btn btn-outline-warning">Submit</button>
</form>

{{errorMessage}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>
