<div class="account">
<h1>Create Account</h1>

<form action="/api/createAccount" method="Post">
    <label>Email</label>
    <input type="text" name="email" value={{email}}>
    <label>Password</label>
    <input type="text" name="password">
    <button>Submit</button>
</form>

<p>{{errorMessage}}</p>
<form action="/createAccount">
    <button>Don't have an Account?</button>
</form>
</div>