<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>



        <h3>You Should Try:</h3>
        <ol id="item-list">
          {{#each items}}
          <li data-id="{{this.id}}">

          <b>{{this.text}}</b><a>. -{{this.author}}</a>

          </li>
          {{/each}}
        </ol>
        <a href="newitem">Enter new recommendation</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

