<div class="login">
<h1>Login</h1>
<br>
<br>
<form action="/api/login" method="Post">
    <label><h3>Email</h3></label>
    <input type="text" name="email"  value={{email}}>
    <label><h3>Password</h3></label>
    <input type="text" name="password">
    <button>Submit</button>
</form>

<p>{{errorMessage}}</p>

<form action="/createAccount">
    <button>Don't have an Account?</button>
</form>
</div>