<div id="newitem">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>



        <h1>You Should Try:</h1>
        <ol id="item-list">
          <h3>
          {{#each items}}
          <li data-id="{{this.id}}">

          <b>{{this.text}}</b><a>. -{{this.author}}</a>


          </li>
          {{/each}}
          </h3>
        </ol>
        <br>
        <br>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="item-text"><h4>New Recommendation</h4></label>
            <input type="text" id="item-text" class="form-control" aria-describedby="item-text" placeholder="You should try this place...">
          </div>
          <div class="form-group">
            <label for="item-note"><h4>Note</h4></label>
            <textarea class="form-control" id="item-note" aria-describedby="item-note" placeholder="and try this when you get there"></textarea>
          </div>
          <button id="submit" class="btn btn-Secondary float-right">Submit</button>
        </form>
        
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
