/* body {
  background-color:lightgray;
} */
#home {
  background-color:lightgray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster', cursive;
}
#item-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-group-item {
  line-height: 2.5;
  justify-content: center;
  align-items: center;
}
#header {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/images/diner.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #888;
  background-blend-mode: multiply;
}
#header .home-content {
  padding: 20px;
  /* background-color: #fff; */
  opacity: none;
  background-color: none;
  text-shadow: 1px 1px 2px rgb(4, 61, 77);
  font-family: 'Lobster', cursive;
  font-size: 2em;
  font-weight: bold;
  color: rgb(36, 134, 163);
  /* change the font color */
  -webkit-animation-name: title;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s;
  /* Safari 4.0 - 8.0 */
  animation-name: title;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@-webkit-keyframes title {
  from {
      color: rgb(36, 134, 163);
  }
  to {
      color: rgb(143, 87, 42);
  }
}
#newitem {
  font-family: 'Lobster', cursive; 
  background-image: url(/images/checkerboard.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
  color: rgb(95, 102, 107);
}
#account {
  background-image: url(/images/adventure-awaits.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.7;
  text-align: center;
  color: aquamarine;
  text-shadow:
  -1px -1px 0 #555,
  1px -1px 0 #555,
  -1px 1px 0 #555,
  1px 1px 0 #555;
}
.login {
  background-image: url(/images/dinner-party.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #888;
  text-align: center;
  color: aquamarine;
  text-shadow:
  -1px -1px 0 #333,
  1px -1px 0 #333,
  -1px 1px 0 #333,
  1px 1px 0 #333;
}